.box {
    display: flex;
    flex-flow: column;
    font-family: Sarabun;
    background-color: burlywood;
    width: 100%;
    height: 100%;
    margin: 0;
}
.box .container{
    margin: 0;
}
.box .row.header{
    background-color: rgb(31, 129, 215);
    text-align: center;
    flex: 0 1 auto;
}
.box .row.content {
    display: flex;
    flex-grow: 1; /* This allows the content row to take all available space */
    background-color: #e65656;
}

.row.content li {
    list-style: none;
    text-align: center;
    flex: 1 1 auto;
}

.row.content a.tablink {
    display: block;
    text-decoration: none;
    color: black;
    width: 100%;
}

/* ... rest of your styles ... */


.row.content a.tablink:hover {
    color: orange;
}
.city {
}
.box .row.footer {
    margin-top: auto;
    background-color: brown;
    flex: 0 1 40px;
}
